body {
    background-color: mintcream;
    font-family: Jura;
    font-size: 23px;
}

th, td {
    border: 1px solid black;
}

h2.heading-title {
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
}

.heading {
    background-color: darkcyan;
    display: block;
}

button {
    background-color: #1cd3a2;
    font-size: 16pt;
    font-family: Jura;
}

select {
    background-color: #1cd3a2;
    font-family: Jura;
    margin-left: 5px;
    font-size: 16pt;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-block {
    padding: 20px;
}

h2.header-block {
    margin: 0;
}

.header-right {
    display: flex;
    flex-direction: row;
}

input.btn-new{
    font-size: 16pt;
    background-color: #1cd3a2;
    font-family: Jura;
    display: block;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

}

form.create{
    border: 2px black solid;
    background-color: #1cd3a2;
}

input.create, textarea.create{
    background-color: mintcream;
    font-size: 16pt;
    font-family: Jura;
    font-weight: bold;
    width: 95%

}
.form-create-elem{
    padding: 20px;
}

.form-create-elem button{
    background-color: mintcream;
}

td.icon {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

button.delete {
    border: 1px solid black;
    background-color: mintcream;
    text-decoration: none;
    color: crimson;
}

a.watch,
a.watch:active,
a.watch:hover {
    background-color: #1cd3a2;
    border: 1px solid black;
    margin: auto;
    padding-left: 2px;
    padding-right: 2px;
    color: black;
}

.form-create-elem-watch{
    padding: 10px;
}

.form-create-elem-watch button {
    background-color: mintcream;

}
.form-create-elem-watch button + button{
    margin-left: 10px;
}

.modalAssign::backdrop {
    background-color: black;
    opacity: 0.5;
}

.modalAssign {
    margin-top: 150px;
}

.modalAssign .form-create-elem button, .modalAssign .form-create-elem input{
    background-color: #1cd3a2;
}

.create-get-over{
    border: 0;
}

input.btn-new:hover{
    background-color: #98ff98;
}