<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="UTF-8">
    <link rel="stylesheet/less" type="text/css" href="/less/styles.less">
    <script src="https://cdn.jsdelivr.net/npm/less"></script>
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <title></title>
    <div class="header">
        <div class="p2-header">Социальная сеть</div>
        <div class="links-header">
            <div class="link-header"><a href="/users/create">Добавить пользователя</a></div>
            <div class="link-header"><a href="/users">Список пользователей</a></div>
        </div>
    </div>
</head>
</html>
<div class="friends-news"><a href="/users/undefined">
    <Назад
</a></div>