<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/less/usersList.css">
    <title></title>
    <div class="header">
        <div class="p2-header">Социальная сеть</div>
        <div class="links-header">
            <div class="link-header"><a href="https://www.youtube.com/">Добавить пользователя</a></div>
            <div class="link-header"><a href="https://www.youtube.com/">Список пользователей</a></div>
        </div>
    </div>
</head>
</html>
<table>
    <thead>
    <tr>
        <th>ФИО</th>
        <th>Дата рождения</th>
        <th>E-mail</th>
        <th>Фото</th>
        <th>Роль</th>
        <th>Статус</th>
        <th>Удалить пользователя</th>
        <th>Посмотреть профиль пользователя</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Фио</td>
        <td>др</td>
        <td>мйл</td>
        <td>dg</td>
        <td>gg</td>
        <td>fg</td>
        <td>fg</td>
        <td>fg</td>
    </tr>
    </tbody>
</table>