doctype html
html
    head
        base(href='/')
        meta(charset='UTF-8')


        link(rel="stylesheet" href="gulp/css/styles.css")


        link(rel="stylesheet" href='/font-awesome-4.7.0/css/font-awesome.min.css')
        title=title

        .header
            .p2-header Социальная сеть
            .links-header
                .link-header
                    a(href='/users/create') Добавить пользователя
                .link-header
                    a(href='/users') Список пользователей
    block content






